<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Aleksanteris_Extensions::listing" title="Aleksanteris Extensions" translate="title" sortOrder="0">
                    <resource id="Aleksanteris_TabManager::tabmanager" title="Tab Manager" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
